.centered {
    margin-left:auto;
    margin-right:auto;
    float: none;
    text-align: center;
}
.left-align {
    text-align:left;
}
.error {
    color: #FF0000;
    display: none;
}
.hidden {
    display:none;
    visibility:visible;
}
.contact {
    background: #000;
}
.contact textarea, .contact input[type="text"], 
.contact input[type="email"] {
    padding: 10px;
    line-height: 20px;
    height: auto;
	color:#000;
	border-radius:4px;
}
.contact textarea {
    height: 120px;
	color:#000;
}
.contact-info {
    margin-top:10px;
    margin-bottom:10px;
}
.contact-info p{
     font-weight:normal;
	 color:#000;
}
.contact-info .icon {
    margin:10px auto;
    font-size:30px;
}
.map-wrapper {
    position:relative;
    height:100%;
}
.google-map {
    position:absolute;
    margin-bottom:20px;
    width:100%;
    height:100%;
    left:0;
    top:0;
    right:0;
}
.contact-form {
    background:#fff;
    background: rgba(255, 255, 255, 0.9);
    z-index:110;
    position:relative;
    margin-top:25px;
	border-radius:10px;
    padding:16px;
}
.contact-form h3 {
    color:#000;
    padding-bottom:20px;
}
.message-button {
    border:1px solid #747C89;
    color:#000;
    background-color:transparent;
    padding:15px 30px;
	border-radius:6px;
    font-size:16px;
}
.message-button:hover {
    background-color:#CC0099;
	color:#fff;
	border-radius:6px;
}
.contact-info {
    text-align:center;
    font-size:20px;
}
.info-mail {
    border:1px solid white;
    width:60%;
    margin:0 auto;
    padding:15px;
    color:#000;
}
.black {
    color:#000;
}
@media (max-width: 979px) {

}
@media (max-width: 767px) {
    .info-mail {
        width:90%;
        padding:15px 0px;
    }
}

